body{
	
}
header{
	background-color: #000;
}

#slides {
	background-image: url("../img/bg-sliders.jpg");
	background-position: center;
	background-size: cover;
	color: white; 
	padding: 200px
}

#banners {
	
}

footer {
	background-color: #323232;
	padding: 20px;
	text-align: center;
}