body{
	
}
header{
	background-color: #000;
}

#slides {
	background-image: url("../img/bg-sliders.jpg");
	background-position: center;
	background-size: cover;
	color: white; 
	padding: 200px
}

#banners {
	padding: 30px;
}

#product {
	padding: 30px;
}

#salsas {
	text-align: center;
}

#clients-footer {
	padding: 35px; 
}

footer {
	background-color: #323232;
	padding: 25px;
	text-align: center;
	color: white;
}